/.env
/node_modules/
/vendor/
/public/.htaccess
/.htaccess
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/storage/debugbar/
/storage/app/
/my_addme_plus 08-01-22.zip
